<%= form_with(model: funeral, local: true, html: { class: 'needs-validation', novalidate: '' }) do |form| %>
  <% if funeral.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(funeral.errors.count, "error") %> prohibited this funeral from being saved:</h2>

      <ul>
        <% funeral.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :deceased_id, "Select Deceased" %>
    <%= form.collection_select(:deceased_id, Deceased.all, :id, :display_name, { prompt: 'Please select a Deceased' }, { class: 'form-control' }) %>
  </div>

  <div class="mb-3">
    <%= form.label :burial_place, class: "form-label" %>
    <%= form.text_field :burial_place, class: "form-control", required: true %>
  </div>

  <div class="field">
    <%= form.label :burial_type, class: "form-label" %>
    <%= form.select :burial_type, Funeral.burial_types.keys, include_blank: true, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :reception_location, class: "form-label" %>
    <%= form.text_field :reception_location, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :funeral_date, class: "form-label" %>
    <%= form.date_field :funeral_date, class: "form-control", required: true %>
  </div>

  <div class="mb-4">
    <%= form.submit class: "btn button-primary mt-2" %>
  </div>
<% end %>
