<div class="card mb-4" id="<%= dom_id funeral %>">
  <div class="card-body">
    <p class="card-title">Funeral id: <%= funeral.id %></p>

    <p class="card-text">
      <strong>Deceased:</strong>
      <%= funeral.deceased_id %>
    </p>

    <p class="card-text">
      <strong>Burial Place:</strong>
      <%= funeral.burial_place %>
    </p>

    <p class="card-text">
      <strong>Burial Type:</strong>
      <%= funeral.burial_type %>
    </p>

    <p class="card-text">
      <strong>Reception Location:</strong>
      <%= funeral.reception_location %>
    </p>

    <p class="card-text">
      <strong>Funeral Date:</strong>
      <%= funeral.funeral_date %>
    </p>

  </div>
</div>
