<div id="<%= dom_id funeral %>">
  <p>
    <strong>Funeral:</strong>
    <%= funeral.funeral_id %>
  </p>

  <p>
    <strong>Deceased:</strong>
    <%= funeral.deceased_id %>
  </p>

  <p>
    <strong>Burial place:</strong>
    <%= funeral.burial_place %>
  </p>

  <p>
    <strong>Burial type:</strong>
    <%= funeral.burial_type %>
  </p>

  <p>
    <strong>Reception location:</strong>
    <%= funeral.reception_location %>
  </p>

  <p>
    <strong>Funeral date:</strong>
    <%= funeral.funeral_date %>
  </p>

</div>
