<%= form_with(model: funeral_service_order, html: { class: 'needs-validation', novalidate: '' }) do |form| %>
  <% if funeral_service_order.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(funeral_service_order.errors.count, "error") %> prohibited this funeral service order from being saved:</h4>
      <ul>
        <% funeral_service_order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :funeral_id, "Select Funeral" %>
    <%= form.collection_select(:funeral_id, Funeral.all, :id, :funeral_date, { prompt: 'Please select a funeral' }, { class: 'form-control' }) %>
  </div>

  <div class="mb-3">
    <%= form.label :service_id, "Select Service" %>
    <%= form.collection_select(:service_id, FuneralService.all, :id, :name, { prompt: 'Please select a service' }, { class: 'form-control' }) %>
  </div>

  <div class="mb-3">
    <%= form.label :quantity, class: 'form-label' %>
    <%= form.number_field :quantity, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
