<%= form_with(model: funeral_service_order, html: { class: 'needs-validation', novalidate: '' }) do |form| %>
  <% if funeral_service_order.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(funeral_service_order.errors.count, "error") %> prohibited this funeral service order from being saved:</h4>
      <ul>
        <% funeral_service_order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :order_id %>
    <%= form.number_field :order_id, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :funeral_id, class: 'form-control' %>
    <%= form.text_field :funeral_id %>
  </div>

  <div class="mb-3">
    <%= form.label :service_id, class: 'form-control' %>
    <%= form.text_field :service_id %>
  </div>

  <div class="mb-3">
    <%= form.label :quantity, class: 'form-control' %>
    <%= form.number_field :quantity %>
  </div>

  <div class="mb-3">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
