<div id="<%= dom_id funeral_service_order %>">
  <p>
    <strong>Order:</strong>
    <%= funeral_service_order.order_id %>
  </p>

  <p>
    <strong>Funeral:</strong>
    <%= funeral_service_order.funeral_id %>
  </p>

  <p>
    <strong>Service:</strong>
    <%= funeral_service_order.service_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= funeral_service_order.quantity %>
  </p>

</div>
