<div class="card mb-4" id="<%= dom_id funeral_service %>">
  <div class="card-body">
    <h5 class="card-title">Service id<%= funeral_service.id %></h5>
    <p class="card-text"><strong>Name:</strong> <%= funeral_service.name %></p>
    <p class="card-text"><strong>Description:</strong> <%= funeral_service.description %></p>
    <p class="card-text"><strong>Price:</strong> <%= funeral_service.price %></p>
  </div>
</div>
