<div id="<%= dom_id funeral_service %>">
  <p>
    <strong>Service:</strong>
    <%= funeral_service.service_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= funeral_service.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= funeral_service.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= funeral_service.price %>
  </p>

</div>
