<%= form_with(model: mourning_card, html: { class: 'needs-validation', novalidate: '' }) do |form| %>
  <% if mourning_card.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(mourning_card.errors.count, "error") %> prohibited this mourning card from being saved:</h4>
      <ul>
        <% mourning_card.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :funeral_id %>
    <%= form.number_field :funeral_id, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
