<%= form_with(model: mourning_card) do |form| %>
  <% if mourning_card.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(mourning_card.errors.count, "error") %> prohibited this mourning_card from being saved:</h2>

      <ul>
        <% mourning_card.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :card_id, style: "display: block" %>
    <%= form.number_field :card_id %>
  </div>

  <div>
    <%= form.label :funeral_id, style: "display: block" %>
    <%= form.text_field :funeral_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
