<div id="<%= dom_id deceased %>">
  <p>
    <strong>Deceased:</strong>
    <%= deceased.deceased_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= deceased.user_id %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= deceased.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= deceased.last_name %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= deceased.date_of_birth %>
  </p>

  <p>
    <strong>Date of death:</strong>
    <%= deceased.date_of_death %>
  </p>

</div>
