<%= form_with(model: deceased, html: { class: 'needs-validation', novalidate: '' }) do |form| %>
  <% if deceased.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(deceased.errors.count, "error") %> prohibited this deceased from being saved:</h2>
      <ul>
        <% deceased.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: 'form-control' %>
  </div>
  
  <div class="mb-3">
    <%= form.label :date_of_birth %>
    <%= form.date_field :date_of_birth, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :date_of_death %>
    <%= form.date_field :date_of_death, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
